*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    background-color: rgb(240, 240, 240);
    font-family: comfortaa;
    line-height: 1.6;
}

.logo{
    display: inline-block;
    margin-top: 35px;
    margin-left: 20px;
    font-size: x-large;
    color: #641f1f;
}

.logo:hover{
    color: blueviolet;
}
/*start of mobile nav bar*/
.desktopnav{
    display: none;
}

header span{
    position: absolute;
    font-size:30px;
    cursor:pointer;
    color: rgb(0, 0, 0);
    top: 20px;
    right: 5%;
    background-color: rgba(255, 0, 0, 0.822);
    border-radius: 5px;
    padding: 0 10px;
    z-index: 1;
    border: 1px groove rgba(255, 255, 255, 0.9);
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(240, 240, 240);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: right;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: rgba(255, 0, 0, 0.822);
  }
  
  .overlay .closebtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 60px;
  }

  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

/*end mobile nav bar*/

.nav{
    background-image: url(assets/bg/navBghorizontal.JPG);
    background-repeat: no-repeat;
    background-color: rgb(255,255,255);
    background-size: 100% 100%;
    width: 100%;
    height: 100px;
    scroll-behavior: none;
}

.content{
    width: 100%;
}

main{
    margin: 20px 20px;
}
@media  screen and (min-width:765px) {

  body{
    flex-direction: row;
    height: 100%;
    flex-wrap: nowrap;
  }

  .overlay,  header span{
    display: none;
  }

  .logo{
    margin-left: 25%;
    margin-top: 50px;
  }

  .nav{
    background-image: url(assets/bg/navBg.jpg);
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    width: 16%;
    height: 969px;
  }

  .desktopnav{
    display: block;
    position: relative;
  }

  .desktopnav ul{
    text-align: right;
    margin-top: 50px;
  }

  .desktopnav ul li{
    margin: 30px 0;
    list-style: none;
    width: 55%;
    margin-left: 150px;
  }

  .desktopnav ul li a{
    display: inline-block;
    text-decoration: none;
    color: rgb(36, 36, 36);
    padding: 20px 20px;
    font-size: larger;
    font-weight: bold;
  }

  .desktopnav ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(238, 32, 32);
    font-weight: bolder;
    text-decoration: line-through;
  }  

  .active{
    color: white;
    background-color: rgba(255, 0, 0, 0.822);
    font-weight: bolder;
  }
  
  .content{
    width: 75%;
  }

  main{
    margin: 100px 30px;
  }

}