@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

:root{
  --BgColor: #2d4157;
  --secondaryBg: #F5EE84;
  --subLinks: #354973;
  --cardLink: #142c42;
  --textSpacing: 1px;
}

body{
  font-family: 'Comfortaa', 'cursive' !important;
  margin: 0;
  padding: 0;
  background: linear-gradient(100deg,#005288, #6245ca, #8e44ad);
  /* -webkit-background-color: linear-gradient(100deg,#005288, #7544ad, #8e44ad); */
  /* background-size: cover; */
  scroll-behavior: smooth;
  letter-spacing: var(--textSpacing);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #8e44ad; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #303030;
}