.siteName, .siteName a{
    font-family: 'Rampart One', cursive !important;
}

nav {
    transition: background-color 0.5s ease;
}

/* nav .container{
    padding: 5px 0;
} */

.download a{
    color: white;
    padding: 10px;
    text-decoration: none;
}

.download:hover{
    color: black;
}

.navLinks .nav-item a{
    position: relative;
    text-decoration: none;
    color: white !important;
    margin: 0 10px;
}

.navLinks .nav-item a::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: whitesmoke;
    transition: width 0.5s ease;
}

.navLinks .nav-item a:hover::before {
    width: 100%;
}