.subLinks{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    -ms-overflow-style: none;  /* IE 11 */
    scrollbar-width: none;  /* Firefox 64 */
    white-space: nowrap;
    height: 100px;
    scroll-behavior: smooth;
}
.subLinks::before, .subLinks::after{
    border: 5px solid #464646 !important;
}

.subLinks::-webkit-scrollbar{
    display: none;
}

.subLinks_child:hover{
    background-color: var(--subLinks) !important;
}

.subLinks.active{
    background-color: #46464680 !important;
}

.portfolio_title::before{
    position: absolute;
    color: rgb(241, 241, 241);
    z-index: 2;
    transform: translate(-12px, -15px);
    padding: 5px 10px;
    /* background: linear-gradient(100deg,#eb6797, #5260cc); */
    background: #303030;
    border-radius: 5px;
}