.subLinks{
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    -ms-overflow-style: none;  /* IE 11 */
    scrollbar-width: none;  /* Firefox 64 */
    white-space: nowrap;
    height: 100px;
    scroll-behavior: smooth;
}
.subLinks::before, .subLinks::after{
    border: 5px solid #464646 !important;
}

.subLinks::-webkit-scrollbar{
    display: none;
}

.subLinks_child:hover{
    background-color: var(--subLinks) !important;
}

.subLinks_child.active{
    background-color: var(--subLinks) !important;
    border-color: var(--subLinks) !important;
}

.portfolio_title::before{
    position: absolute;
    color:white;
    z-index: 2;
    transform: translate(-12px, -15px);
    padding: 5px 10px;
    /* background: linear-gradient(100deg,#eb6797, #5260cc); */
    background: var(--secondaryBg);
    border-radius: 5px;
    color: black;
}

.MuiCardActions-root a:hover{
    background-color: var(--cardLink);
    border-color: var(--cardLink);
}

.MuiCardActions-root button:hover{
    background-color: var(--cardLink);
    border-color: var(--cardLink);
}

.cardTransition{
    opacity: 0;
    animation: cardFadeIn .8s ease-in forwards;
}

@keyframes cardFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}